<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    
    <%- include('inc/head'); %>
    
  </head>
  <body>

    <%- include('inc/navbar'); %>

		<div class="parent">
      <div class="child shadow p-3">
        <h4><%= title %></h4>
      </div>
    </div>
    
    <p class="text-center"><a href="/">Home</a></p>

    <%- include('inc/footer'); %>

  </body>
</html>